/.ipynb_checkpoints
/Files.ipynb
/INST326Project02_GraceRippin.ipynb
/Lab01W02_GraceRippin.ipynb
/Lab02W03_GraceRippin.ipynb
/Lab03W04_GraceRippin.ipynb
/Lab04W05_Assignment.zip
/Lab04W05_GraceRippin.ipynb
/Lab05W06_GraceRippin.ipynb
/Lab07W11_GraceRippin.ipynb
/Lab08W10_GraceRippin.ipynb
/Lab09W12_GraceRippin.ipynb
/Project01_GraceRippin.ipynb
/Project03_GraceRippin.ipynb
/Signature.ipynb
/Untitled.ipynb
/__pycache__
/cards2.py
/data.csv
/data.json
/example.db
/example.txt
/output.csv
/output.json
/output.txt
/todo_tasks.txt